    <div id="notifications">
            <div id="successBox" class="alert alert-success" role="alert"><span></span></div>
            <div id="loadingBox" class="alert alert-info" role="alert"><span></span></div>
            <div id="errorBox" class="alert alert-danger" role="alert"><span></span></div>
        </div>