{{> header}}
{{> notifications}}
        <section id="homeView">
            <img class="m-auto background-image" width="100%" src="https://cdn-images-1.medium.com/max/1000/0*J_U-USw5KKXHWPu6.jpg">
        </section>
{{> footer}}