   <!--Notifications (BONUS - Not required)-->
    <section id="notifications">
        <div class="p-3 mb-2 bg-success w-50 text-white text-center" id="successNotification"> <span>Info</span></div>
        <div class="p-3 mb-2 bg-danger w-50 text-white text-center" id="errorNotification"> <span>Info</span></div>
        <div class="p-3 mb-2 bg-info w-50 text-white text-center" id="loadingNotification"> <span>Info</span></div>
    </section>
    <!-- ./Notifications (BONUS - Not required)-->