#successBox{
background-color: aquamarine;
color: black;
}



#loadingBox{
background-color: darkblue;
color: aliceblue;
           }
#errorBox{
       background-color: brown;        
       color: aliceblue;
           }