 <!-- Post -->
    <article class="post">
        <h1>{{post.title}}</h1>
        <h2><span>{{post.category}}</span></h2>
        <p>{{post.content}}</p>
        <a href="" id="delete-button">Delete</a>
        <a href="" id="details-button">Details</a>
        <a href="" id="edit-button">Edit</a>
    </article>